{% extends "MMCoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    
  {# <h1>Oops! Une erreur s'est produite durant le chargement de la page</h1>

  <h2>Notre application a retourné une erreur {{ status_code }} : {{ status_text }}.</h2>]#}
    
    <h1>{{ status_code }}</h1>
    <h3>{{ exception.message }}</h3>

  <div>
    N'hésitez pas à contacter le webmaster du site pour corriger l'erreur.
  </div>

    {% endblock %}

{% block sidebar %}

<!-- Sidebar -->
          <section id="sidebar">

            <!-- Intro -->
              <section id="intro">
                <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->
                <header>
                  <h2>YCR</h2>
                  <p>Youtube Channel Reviews</a></p>
                </header>
              </section>

            <!-- Posts List -->
              <section>
                <div class="mini-posts">
                  {{ render(controller("MMMainBundle:Article:menu", {'limit': 3})) }}
                </div>
              </section>

            <!-- About -->
              <section class="blurb">
                <h2>A propos</h2>
                <p>Youtube Channel Reviews est un site de critique de chaines Youtube.</p>
                <ul class="actions">
                  <li><a href="{{ path('mm_core_about') }}" class="button">En savoir plus</a></li>
                </ul>
              </section>

            <!-- Footer -->
              <section id="footer">
                <ul class="icons">
                  <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                  <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                  <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                  <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Palyndiel Corp.</p>
              </section>

          </section>

{% endblock %}
